<html>
<head>
  <meta charset="UTF-8">
  <title>gremlin-orm Demo</title>
  <link rel="stylesheet" href="./../assets/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="./../assets/js/index.js"></script>
</head>
<body>
  <div class="left-pane">
    <div class="query-form clearfix">
      <img id="logo" src="./../assets/img/gremlin-orm-logo.png" alt="logo" />
      <h1 id="header">gremlin-orm demo</h1>
      <h2>Query</h2>
      <textarea id="query" name="query" placeholder="Enter gremlin-orm query" /></textarea>
      <button id="submit-query">Run query</button>
    </div>
    <h2>Response</h2>
    <pre class="json-response" id="json-response"></pre>
  </div>
  <div class="right-pane">
    <div id="container"></div>
  </div>


</body>
</html>
