html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

#container {
  width: calc(100vw - 500px);
  height: 100vh;
}

#tooltip {
  display: none;
  width: auto;
  height: auto;
  padding: 15px;
  background-color: #CCD2D5;
  border-radius: 5px;
  z-index: 1000;
  text-decoration:none;
  position:absolute;
  top: 0;
  left: 500px;
}

.tooltipspan {

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.left-pane {
  height: 100vh;
  width: 500px;
  overflow: scroll;
  float: left;
  padding: 20px 20px 40px 20px;
  background: #eee;
}

#logo {
  height: 40px;
  display: inline-block;
  float: right;
}

#header {
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 30px;
}

.right-pane {
  float: right;
  height: 100vh;
  position: relative;
  width: calc(100% - 500px);
}

.query-form {
  width: 100%;
  margin-bottom: 20px;
}

h1, h2 {
  display: block;
  margin-top: 0;
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

textarea {
  width: 100%;
  min-height: 200px;
  font-family: monospace;
  font-size: 16px;
  padding: 10px;
  margin-top: 15px;
  display: block;
}

button {
  margin-top: 10px;
  appearance: none;
  -webkit-appearance: none;
  padding: 8px 30px;
  background: #444;
  color: white;
  font-size: 14px;
  font-weight: 600;
  float: right;
  border: none;
}

.json-response {
  margin-top: 10px;
  display: block;
  min-height: 200px;
  background: #F9F7F4;
  font-size: 15px;
  font-family: monospace;
  padding: 10px;
  max-height: calc(100vh - 550px);
  overflow: auto;
}

.CodeMirror {
  font-size: 15px;
}

/* start of dropdown view */

.dropbtn {
  margin-top: 0;
  background-color: #444;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #444;
}

.dropdown {
  position: absolute;
  display: inline-block;
  z-index: 10;
  top: 20px;
  right: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 125px;

  right: 0;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown a:hover {background-color: #aaa}

.show {display:block;}

/* end of dropdown view */
